---
# podman-compose -f docker-compose.yml up -d
version: "2.1"
services:
  postgres:
    image: postgres:latest
    command: postgres -c ssl=on -c ssl_cert_file=/var/lib/postgresql/server.crt -c ssl_key_file=/var/lib/postgresql/server.key -c ssl_ca_file=/var/lib/postgresql/ca.crt -c hba_file=/var/lib/postgresql/pg_hba.conf
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
      POSTGRES_HOST_AUTH_METHOD: cert clientcert=verify-full
      POSTGRES_INITDB_ARGS: --auth-host=cert
    # Not placed in the data directory (/var/lib/postgresql/data) because of https://gist.github.com/mrw34/c97bb03ea1054afb551886ffc8b63c3b?permalink_comment_id=2678568#gistcomment-2678568
    volumes:
      - ./ssl/server.crt:/var/lib/postgresql/server.crt
      - ./ssl/server.key:/var/lib/postgresql/server.key
      - ./ssl/ca.crt:/var/lib/postgresql/ca.crt
      - ./ssl/pg_hba.conf:/var/lib/postgresql/pg_hba.conf
    ports:
      - "5432:5432"
  postgres_no_ssl: # Borrowed from https://github.com/MeltanoLabs/tap-postgres/blob/main/.github/workflows/test.yml#L13-L23
      image: postgres:latest
      environment:
        POSTGRES_PASSWORD: postgres
      ports:
        - 5433:5432
