[tool.poetry]
name = "meltanolabs-target-postgres"
version = "0.0.0"
description = "`target-postgres` is a Singer target for Postgres, built with the Meltano SDK for Singer Targets."
authors = ["Meltano Team and Contributors"]
maintainers = ["Meltano Team and Contributors"]
license = "MIT"
readme = "README.md"
homepage = "https://meltano.com"
repository = "https://github.com/meltanolabs/target-postgres"
keywords = [
    "Postgres",
    "Singer",
    "ELT",
    "Meltano",
    "Meltano SDK",
]
classifiers = [
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: Implementation :: CPython",
]
packages = [
    { include = "target_postgres" }
]

[tool.poetry.dependencies]
python = "<3.12,>=3.7.1"
requests = "^2.25.1"
singer-sdk = ">=0.17,<0.24"
psycopg2-binary = "2.9.5"

[tool.poetry.dev-dependencies]
pytest = "^7.2.0"
tox = "^3.24.4"
flake8 = "^5.0.4"
flake8-docstrings = "^1.7.0"
black = "23.1.0"
mypy = "^1.0"
isort = "^5.11.5"
remote-pdb="2.1.0"

[tool.isort]
profile = "black"
multi_line_output = 3 # Vertical Hanging Indent
src_paths = "target_postgres"

[build-system]
requires = ["poetry-core>=1.0.8", "poetry-dynamic-versioning"]
build-backend = "poetry_dynamic_versioning.backend"

[tool.poetry.scripts]
# CLI declaration
target-postgres = 'target_postgres.target:TargetPostgres.cli'

[pytest]
pythonpath = [
  "."
]

[tool.poetry-dynamic-versioning]
enable = true
vcs = "git"
style = "semver"
