name: Test target-postgres

on:
  pull_request:
    paths:
    - compose.yml
    - pyproject.toml
    - uv.lock
    - target_postgres/**
    - .github/workflows/ci_workflow.yml
    - .github/workflows/constraints.txt
  push:
    branches: [main]
    paths:
    - compose.yml
    - pyproject.toml
    - uv.lock
    - target_postgres/**
    - .github/workflows/ci_workflow.yml
    - .github/workflows/constraints.txt
  workflow_dispatch:
    inputs: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 1

jobs:
  tests:
    name: Python ${{ matrix.python-version }} / Postgres ${{ matrix.postgres-version }} / ${{ matrix.use-copy == 'true' && 'COPY' || 'INSERT' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.14"
        - "3.13"
        - "3.12"
        - "3.11"
        - "3.10"
        postgres-version:
        - "18"
        use-copy:
        - "true"
        include:
        - python-version: "3.14"
          postgres-version: "14"
          use-copy: "true"
        - python-version: "3.14"
          postgres-version: "15"
          use-copy: "true"
        - python-version: "3.14"
          postgres-version: "16"
          use-copy: "true"
        - python-version: "3.14"
          postgres-version: "17"
          use-copy: "true"
        - python-version: "3.14"
          postgres-version: "18"
          use-copy: "false"
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-tags: true
    - name: Fix key permissions
      run: |
        chmod 600 ssl/server.key
        sudo chown 999:999 ssl/server.key
        chmod 600 ssl/pkey.key
        chmod 644 ssl/public_pkey.key
    - name: Set up Postgres container
      env:
        POSTGRES_VERSION: ${{ matrix.postgres-version }}
      run: |
        docker compose up -d
    - run: docker ps
    - name: Set up Python '${{ matrix.python-version }}'
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: '${{ matrix.python-version }}'
    - name: Set up uv
      uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
      with:
        version: ">=0.7"
    - name: Install tools
      env:
        UV_CONSTRAINT: ${{ github.workspace }}/.github/workflows/constraints.txt
      run: |
        uv tool install --with tox-uv tox
    - name: Run pytest
      env:
        TARGET_POSTGRES_USE_COPY: ${{ matrix.use-copy }}
      run: |
        tox -e ${{ matrix.python-version }}
    - name: Run lint
      run: |
        tox -e lint

  integration:
    name: Meltano integration test / ${{ matrix.use-copy == 'true' && 'COPY' || 'INSERT' }}
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    strategy:
      fail-fast: false
      matrix:
        use-copy: ["true", "false"]
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: 3.x
    - name: Set up uv
      uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
      with:
        version: ">=0.7"
    - name: Install Meltano
      run: |
        uv tool install meltano
        meltano --version
    - name: smoke-test-tap
      env:
        TARGET_POSTGRES_USE_COPY: ${{ matrix.use-copy }}
      run: meltano run tap-smoke-test target-postgres
